<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">  
    <title>Heart Disease Prediction</title>
  </head>
  
  <body>
    
<div class="container main">
  <div class="jumbotron" id="holder">
     <br>
       <center><b><h2 style="color:#FF0000";><blink>{{ prediction_text}}</blink></h2></b></center> 
     <br>
     <br>
    <center><h1 class='main_heading'> Heart Failure Prediction Model</h1></center>
    <p>This Web Based Application is based on a Machine Learning Algorithm that predicts a patient's chance of having a heart failure or not. [Note that this model is 75% accurate]</p>
    <br>
    <div class="instructions">
      <h2>Instructions: </h2>
      <p>1. Please Enter values for the following fields</p>
      <p>2. click predict </p>
    </div>

    <form class="form-horizontal" action="{{ url_for('predict')}}"method="post">

      <div class="form-group">
        <div class="col-sm-10">
          <input type="number" style="width: 400px;" name="age" step="0.01"  placeholder="age" required="required" />
        </div>
      </div>
     
      <div class="form-group">
        <div class="col-sm-10">
          <input type="number" style="width: 400px;" name="anaemia" placeholder="anaemia" required="required" />
        </div>
      </div>

      
      <div class="form-group">
        <div class="col-sm-10">
          <input type="number" style="width: 400px;" name="creatinine_phosphokinase" placeholder="creatinine_phosphokinase" required="required" />
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-10">
          <input type="number" style="width: 400px;" name="diabetes" placeholder="diabetes" required="required" />
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-10">
        <input type="number" style="width: 400px;"  name="ejection_fraction" placeholder="ejection_fraction" required="required" />
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-10">
          <input type="number" style="width: 400px;"  name="high_blood_pressure" placeholder="high_blood_pressure" required="required" />
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-10">
         <input type="number" style="width: 400px;"  name="platelets" placeholder="platelets" required="required" />
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-10">
          <input type="number" style="width: 400px;" name="serum_creatinine" step="0.01" placeholder="serum_creatinine" required="required" />
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-10">
            <input type="number" style="width: 400px;" name="serum_sodium" placeholder="serum_sodium" required="required" />
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-10">
         <input type="number" style="width: 400px;" name="sex"  placeholder="sex" required="required" />
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-10">
         <input type="number" style="width: 400px;" name="smoking" placeholder="smoking" required="required" />
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-10">
          <input type="number" style="width: 400px;" name="time" placeholder="time" required="required" />
        </div>
      </div>
      
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
         <center><button type="submit" style="width: 100px;"  class="button btn btn-default">PREDICT</button><center/>
        </div>
      </div>
    </form>

    

    <h2 class="result"></h2>
  </div>
  </div>

  </body>
</html>